extends ../layout 

block content 
  h1= title
  table
    thead
      tr
        each val, key in book
          if key !== 'id'
           th=  key.charAt(0).toUpperCase() + key.slice(1)
    tbody 
      tr 
        each val, key in book
          if key === 'title'
            td: a(href='/show/' + book.id)= val
          if key !== 'id' && key !== 'title'
            td= val

          //- if key === 'createdAt'
          //-   td= book.publishedAt()
          //- if key === 'updatedAt'
          //-   td= book.alteredAt()
            
  p: a.button(href='/books') See All Books
  p: a.button(href='/books/edit/' + book.id) Edit This Book