extends ../layout

block content
  h1= title
  p: a.button(href='/books/newbook') Create New Book
  table
    thead
      tr
        each val, key in books[0]
          if key !== 'id'
           th=  key.charAt(0).toUpperCase() + key.slice(1)
    tbody 
      each book in books
        tr 
          each val, key in book
            if key === 'title'
              td
                a(href='/books/' + book.id)= val
            if key !== 'id' && key !== 'title'
              td= val