extends layout

block content
  section.error404
    h1 #{err.message}:<br>#{originalUrl}
    h2 'Error' #{err.status}
    button.home-nav(type='button')
      a.button-primary-small(href="/") Back to Home
      
  div.stack-holder
    div.stack-trace= err.stack 

